<section class="d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="main text-center">
            <div>
                <h1>About Component</h1>
            </div>
            <div class="mb-2 logo-container">
                <i class="fa-solid fa-star logo"></i>
            </div>
            <div class="text-start d-flex flex-row justify-content-evenly gap-5">
                <div>
                    <p>
                        Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                        files including HTML, CSS, and JavaScript as well as Optional SASS stylesheets for easy
                        customization.
                    </p>
                </div>
                <div>
                    <p>
                        Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                        files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                        customization.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
