<app-portfolio (imgsrc)="imgsrc= $event"></app-portfolio>
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src={{imgsrc}} class="img-fluid" alt="First Image">
            </div>
        </div>
    </div>
</div>



<button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Open Image 1</button>