<section>
    <div class="container d-flex justify-content-center align-items-center ">
        <div class="main  m-5 ">
            <div class="img w-75 mx-auto mb-5">
                <img src="./imgs/avataaars.svg " alt="">
            </div>
            <div class="content text-center ">
                <div class=" mb-2 ">
                    <h1 class="text-uppercase ">start Framework</h1>
                </div>
                <div class="mb-2 logo-container w-" > 
                    <i class="fa-solid fa-star logo"></i>
                </div>
                <div class="mb-5">
                    <h2 class="m-0">Graphic Artist - Web Designer - Illustrator</h2>
                </div>
            </div>
        </div>
    </div>
</section>