<section class="d-flex flex-row justify-content-center align-items-center ">
    <div class="container">
        <div class="main">
            <div class="text-center mb-5">
                <div class=" mb-2">
                    <h1 class="text-uppercase ">conatct section</h1>
                </div>
                <div class="mb-2 logo-container">
                    <i class="fa-solid fa-star logo"></i>
                </div>
            </div>

            <div class="form">
                <form #form="ngForm">
                    <div class="mb-3 element">
                        <input type="text" class="form-control border-0 border-bottom py-3 position-relative"
                            placeholder="Username" id="username" name="username" [(ngModel)]="user.username" required>
                        <label for="username" class="form-label">User Name</label>
                    </div>

                    <div class="mb-3 element">
                        
                        <input type="number" class="form-control border-0 border-bottom py-3 position-relative"
                            placeholder="User Age" id="userage" name="userage" [(ngModel)]="user.age" required>
                            <label for="userage" class="form-label">User Age</label>
                    </div>

                    <div class="mb-3 element">
                        
                        <input type="email" class="form-control border-0 border-bottom py-3 position-relative"
                            placeholder="User Email" id="useremail" name="useremail" [(ngModel)]="user.email" required>
                            <label for="useremail" class="form-label">User Email</label>
                    </div>

                    <div class="mb-3 element">
                        
                        <input type="password" class="form-control border-0 border-bottom py-3 position-relative"
                            placeholder="User Password" id="userpassword" name="userpassword"
                            [(ngModel)]="user.password" required>
                            <label for="userpassword" class="form-label">User Password</label>
                    </div>


                    <button type="submit" class="btn mt-3" [disabled]="form.invalid">Send Message</button>
                </form>

            </div>


        </div>
    </div>
</section>