section {
    background-color: white;
    color: var(--secondry);
    padding: 50px 0;

}



button {
    background-color: var(--primary);
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form {
    display: block;
    margin: 0 auto;
    width: 70%;


}

.logo-container::before,
.logo-container::after {
    background-color: var(--secondry);
}



label {
    color: var(--primary);
    z-index: -2;
    transform: translateY(-40px);
}

input{
    z-index: 2;
}


input.ng-valid ~ label {
    transform: translatey(-90px);
    transition: transform 0.3s ease-in-out;
}


input.ng-invalid ~ label {

    transform: translatey(-40px);
    transition: transform 0.3s ease-in-out;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}