<section class="d-flex flex-row justify-content-center align-items-center ">
    <div class="container">
        <div class="main">
            <div class="text-center mb-5">
                <div class=" mb-2">
                    <h1 class="text-uppercase ">conatct section</h1>
                </div>
                <div class="mb-2 logo-container">
                    <i class="fa-solid fa-star logo"></i>
                </div>
            </div>


            <div class="form">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">user name</label>
                        <input type="text" class="form-control border-0 border-bottom py-3 position-relative ng-valid " placeholder="username" id="username" >
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">user age</label>
                        <input type="number" class="form-control border-0 border-bottom py-3 position-relative ng-valid " placeholder="userage" id="userage" >
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">user email</label>
                        <input type="email" class="form-control border-0 border-bottom py-3 position-relative ng-valid " placeholder="useremail" id="useremail" >
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">user password</label>
                        <input type="text" class="form-control border-0 border-bottom py-3 position-relative ng-valid " placeholder="userpassword" id="userpassword" >
                    </div>
                    <button type="submit" class="btn mt-3 ">send message</button>
                </form>

            </div>


        </div>
    </div>
</section>