<footer class=" text-center ">
    <div class="container-fluid ">
        <div class="row   justify-content-around column-gap-5"   > 
            <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
                <h3 class="text-uppercase">LOCATION </h3>
                <p>
                    2215 John Daniel Drive  
                </p>
                <p>
                    Clark, MO 65243
                </p>
            </div>
            <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
                <h3 class="text-uppercase">AROUND THE WEB</h3>
                <div class="icons">
                    <i class="fa-brands fa-facebook mx-1 icon"></i>
                    <i class="fa-brands fa-twitter mx-1 icon"></i>
                    <i class="fa-brands fa-linkedin mx-1 icon"></i>
                    <i class="fa-solid fa-globe mx-1 icon"></i>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
                <h3 class="text-uppercase">ABOUT FREELANCER</h3>
                <p>
                    Freelance is a free to use, licensed Bootstrap theme created by Route
                </p>
            </div>
        </div>
    </div>








</footer>
<div class="text-center p-3 cr" >
    <h6 class="" href="">Copyright © Your Website 2021</h6>
</div>