footer {
    background-color: var(--secondry);
    color: white;
    padding: 40px 40px ;
}

.container{
    padding: 40px 40px ;

}
h5 {
    font-size: 28px;
    font-weight: 500;
    padding: 20px 0;
}

footer .icons .icon{
    font-size: small;
    border: 1px  solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 5px 5px;
    
}


.cr{
    background-color: var(--copy);
    color: white;
}